<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
          integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <nav id="sidebar">
        <div class="sidebar-header">
            <a onclick="toggleNav()" style="font-size: 24px; float: right; cursor: pointer">&times;</a>
            <h3>Welcome to Sahara!</h3>
        </div>

        <ul class="list-unstyled components">
            <li><a href="/view/all/default">All</a></li>
            <li><a href="/view/Books/default">Books</a></li>
            <li><a href="/view/Electronics/default">Electronics</a></li>
            <li><a href="/view/Toy, Game, Movie/default">Toy, Game, Movie</a></li>
            <li><a href="/view/Home & Kitchen/default">Home & Kitchen</a></li>
            <li><a href="/view/Music Instruments/default">Music Instrument</a></li>
            <li><a href="/view/Pet Supplies/default">Pet Supplies</a></li>
            <li><a href="/view/Snack, Food/default">Snack, Food</a></li>
            <li><a href="/view/Clothing, Shoes, Jewelry/default">Clothing, Shoes, Jewelry</a></li>
            <li><a href="/view/Health Care/default">Health Care</a></li>
            <hr/>
            <li><a href="/about_and_contact">About/Contact</a></li>
            <li><a href="user/logout">Log out</a></li>
        </ul>
    </nav>

    <div id="main">
        <nav class="navbar navbar-expand-lg">
            <button class="no-button text-white" onclick="toggleNav()"><i class="fas fa-list"></i></button>
            <button class="navbar-toggler text-black" type="button" data-toggle="collapse" data-target="#navbarToggler"
                    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">Sahara</a>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <form class="form-inline mr-auto mt-2 mt-lg-0" method="post" action="/view/search/all">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All
                            </button>
                            <div class="dropdown-menu" style="z-index: 9999">
                                <a class="dropdown-item" href="/view/all/default">All</a>
                                <a class="dropdown-item" href="/view/Books/default">Books</a>
                                <a class="dropdown-item" href="/view/Electronics/default">Electronics</a>
                                <a class="dropdown-item" href="/view/Toy,%20Game,%20Movie/default">Toy, Game, Movie</a>
                                <a class="dropdown-item" href="/view/Home%20&%20Kitchen/default">Home & Kitchen</a>
                                <a class="dropdown-item" href="/view/Music%20Instruments/default">Music Instrument</a>
                                <a class="dropdown-item" href="/view/Pet%20Supplies/default">Pet Supplies</a>
                                <a class="dropdown-item" href="/view/Snack,%20Food/default">Snack, Food</a>
                                <a class="dropdown-item" href="/view/Clothing,%20Shoes,%20Jewelry/default">Clothing,
                                    Shoes, Jewelry</a>
                                <a class="dropdown-item" href="/view/Health%20Care/default">Health Care</a>
                            </div>
                        </div>
                        <input type="text" class="form-control" style="min-width: 500px" name="search"
                               aria-label="Text input with dropdown button">
                        <div class="input-group-append">
                            <button type="submit" class="search-icon" type="button"><i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <ul class="navbar-nav my-2 my-lg-0">
                    {{#if login}}
                        <li class="nav-item">
                            <span class="dropdown">
                            <a href="/user/account_overview" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user-circle"></i>Account</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/user/account_overview">Your Account</a>
                                <a class="dropdown-item" href="/user/account_overview/order_history">Your Orders</a>
                                <a class="dropdown-item" href="/user/logout">Log Out</a>
                            </div>
                        </span>
                        </li>
                        <li class="nav-item">
                            <a href="/user/account_overview/order_history"><i class="far fa-file-alt"></i>Orders</a>
                        </li>
                        <li class="nav-item">
                            <a href="/shopping_cart"><i style="font-size: 30px; padding-left: 10px" class="fas fa-shopping-cart"></i></a>
                        </li>
                    {{else}}
                        <li class="nav-item">
                            <a href="/signin"><i class="fas fa-user"></i>Sign in</a>
                        </li>
                        <li class="nav-item">
                            <a href="/signup"><i class="fas fa-user-plus"></i> Sign up</a>
                        </li>
                    {{/if}}
                </ul>
            </div>
        </nav>

        {{{body}}}

    </div>
    <footer class="footer">
        <p>
            <a href="/">Home</a>
            <a href="/about_and_contact">About/Contact</a>
            <a href="/seller/all_sellers">Our Sellers</a>
        </p>
        <p><a href="#main">Back to top</a></p>
    </footer>
    <script src="/javascripts/javascripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>