<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
</head>
<body>
    <nav id="sidebar">
        <div class="sidebar-header">
            <a onclick="toggleNav()" style="font-size: 24px; float: right; cursor: pointer" >&times;</a>
            <h3>Welcome to Sahara!</h3>
        </div>

        <ul class="list-unstyled components">
            <li><a href="#">All</a></li>
            <li><a href="#">Books</a></li>
            <li><a href="#">Electronics</a></li>
            <li><a href="#">Entertainment</a></li>
            <li><a href="#">Home &amp; Kitchen</a></li>
            <li><a href="#">Music Instrument</a></li>
            <li><a href="#">Pet Supplies</a></li>
            <li><a href="#">Snakes/Food</a></li>
            <li><a href="#">Electronics</a></li>
            <hr />
            <li><a href="#">Contact</a></li>
            <li><a href="#">Log out</a></li>
        </ul>
    </nav>

    <div id="main">
        <div class="pos-f-t">
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" onclick="toggleNav()">
                    <span class="navbar-toggler-icon text-primary"></span>
                </button>
                <div>
                    <a class='fas fa-user text-primary' style='font-size:24px' href="#">Account</a>
                    <a class='fas text-primary' style='font-size:24px' href="#">Orders</a>
                    <a class='fas fa-shopping-cart text-primary' style='font-size:24px' href="/shoppingCart">Shopping Cart</a>
                </div>
            </nav>
        </div>

        {{{body}}}

    </div>
    <script type="text/javascript" src="javascripts/javascripts.js"></script>
</body>
</html>