<div class = "container">
    <h1>About Sahara:</h1>
    <p>
        Sahara was built by a team of three undergraduate CS students from Stony Brook University:
        Han Liu, Bingling Dong, Mandy Kwok. This website was built mainly with javascript, using NodeJS, MySQL,
        Express, HandleBars, and Bootstrap as framework, database, and libraries. Sahara is an e-commerce website that
        sells many products in many departments. Every user is first registered as a customer. They can choose to register
        to be a seller in their "Account's Overview" page. Every customer can view and comment items and they can add
        items to their shopping cart. They can also checkout and place an order. All items will be shipped as one package
        from our warehouse. Customers leave feedback for the sellers and they can return the items if they want to.
        Only sellers are allowed to add new items to the website.
    <h2>Founders: </h2>
    <p>Email: <br/>
        Mandy Kwok: <a href = "mailto: manyin.kwok@stonybrook.edu">manyin.kwok@stonybrook.edu</a>
        <br/>
        Bingling Dong: <a href = "mailto: bingling.dong@stonybrook.edu">bingling.dong@stonybrook.edu</a>
        <br/>
        Han Liu: <a href = "mailto: han.liu.1@stonybrook.edu">han.liu.1@stonybrook.edu</a>
        <br/>
        Phone Number: <a href = "tel: ">631-632-3333</a>
    </p>
</div>