<div class="bannerImage">
    <h1 class="bannerTitle">About Sahara</h1>
</div>

<div class="container">
    <a href="/" class="text-color-2 links"><i class="fas fa-caret-left"></i> Back</a>
    <div class="card-border-top">
        <h1 class="font-size-2 about"><i class="far fa-check-circle"></i> Introduction</h1>
        <p>
            Sahara was built by a team of three undergraduate CS students from Stony Brook University:
            Han Liu, Bingling Dong, Mandy Kwok. This website was built mainly with javascript, using NodeJS, MySQL,
            Express, HandleBars, and Bootstrap as framework, database, and libraries. Sahara is an e-commerce website
            that
            sells many products in many departments. Every user is first registered as a customer. They can choose to
            register
            to be a seller in their "Account's Overview" page. Every customer can view and comment items and they can
            add
            items to their shopping cart. They can also checkout and place an order. All items will be shipped as one
            package
            from our warehouse. Customers leave feedback for the sellers and they can return the items if they want to.
            Only sellers are allowed to add new items to the website.
    </div>
    <div class="card-border-top">
        <h2 class="font-size-2 about"><i class="fas fa-users"></i> Founders</h2>
        <p class="text-color-1">
            Han Liu: <a class="links" href="mailto: han.liu.1@stonybrook.edu">han.liu.1@stonybrook.edu</a>
            <br /><br />
            Mandy Kwok: <a class="links" href="mailto: manyin.kwok@stonybrook.edu">manyin.kwok@stonybrook.edu</a>
            <br /><br />
            Bingling Dong: <a class="links" href="mailto: bingling.dong@stonybrook.edu">bingling.dong@stonybrook.edu</a>
            <br /><br />
            Phone Number: <a class="links" href="tel: ">631-632-3333</a>
        </p>
    </div>
</div>