
<!-- The Modal -->

<div id="id01" class="modal">
    <h1>Sign In</h1>
    <form class="modal-content animate" method="post">
        <!--<div> class="imgcontainer">
            <img src="img_avatar2.png" alt="Avatar" class="avatar">
        </div>-->
        <div class= "container">
            <label for="uname"><b>Username</b></label>
            <br>
            <input type="text" placeholder="Enter Username" name="uname" required>
            <br>
            <label for="psw"><b>Password</b></label>
            <br>
            <input type="password" placeholder="Enter Password" name="psw" required>
            <br>
            <input type="button" onclick = check1() value="Login"/>
            </input>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
    </form>
</div>
<!--
<script language="javascript">
    function check(form)/*function to check userid & password*/
    {
        alert(form.uname.value);
    }
</script>-->