<div class = "container">
    <h1 class="alert alert-success">Order Confirmation</h1>
    <p>Dear <strong>{{user_info.0.[First Name]}}</strong>, thank you for purchasing at Sahara! <br />
        Your order <strong>{{order_number}}</strong> has been placed on {{order_date}}, and your package is already on the way!
        <br />Your tracking number is <strong>{{tracking_number}}</strong>.<br />

        Have a nice day!<br />
        <a href="/">Back to home page</a>
    </p>
</div>











