<div class="container">
    {{#if errors}}
        <p>{{messages}}</p>
    {{/if}}
     <h1>Your Account</h1>
    <div class="row">
        <div class="col-1" style="padding-right:0px;">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active " id="v-pills-customer-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">User</a>
                <a class="nav-link " id="v-pills-seller-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Seller</a>
            </div>
        </div>
        <div class="col-11" style="padding-left: 0px;">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="card">
                        <div class="card-body">
                            <a href="account_overview/order_history"><h5 class="card-title">Your Orders</h5></a>
                            <p class="card-text">Track or return things.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <a href="account_overview/refund_overview"><h5 class="card-title">Your Refunds</h5></a>
                            <p class="card-text">View your refund requests.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <a href="account_overview/edit_account_information"><h5 class="card-title">Edit Account Information</h5></a>
                            <p class="card-text">Edit name, mobile number, and addresses.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <a href="account_overview/change_password"><h5 class="card-title">Change Password</h5></a>
                            <p class="card-text">Edit password.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <a href="account_overview/payment_options"><h5 class="card-title">Payment Options</h5></a>
                            <p class="card-text">Edit or add payment methods.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    {{#if isSeller}}
                        <div class="card">
                            <div class="card-body">
                                <a href="account_overview/listed_items"><h5 class="card-title">Your Listed Items</h5></a>
                                <p class="card-text">All items currently listed online.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <a href="account_overview/add_item"><h5 class="card-title">Add Item</h5></a>
                                <p class="card-text">List a new item.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <a href="account_overview/edit_seller_information"><h5 class="card-title">Edit Seller Information</h5></a>
                                <p class="card-text">Edit company name, address, and phone number.</p>
                            </div>
                        </div>
                    {{else}}
                        <div class="card">
                            <div class="card-body">
                                <h1>Sign up to be a Seller</h1>
                                <form method="post" action="seller_sign_up">
                                    <h4>Company Information</h4>
                                    <div class="form-group row">
                                        <label for="firstName" class="col-sm-2 col-form-label">Company Name:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="companyName" placeholder="Company Name" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="phoneNumber" class="col-sm-2 col-form-label">Company Phone Number:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="phoneNumber" placeholder="Phone Number">
                                        </div>
                                    </div>
                                    <h4>Address</h4>
                                    <div class="form-group row">
                                        <label for="address1" class="col-sm-2 col-form-label">Street Address Line 1:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="address1" placeholder="Street Address Line 1">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="address2" class="col-sm-2 col-form-label">Street Address Line 2:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="address2" placeholder="Street Address Line 2">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="city" class="col-sm-2 col-form-label">City:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="city" placeholder="City">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="state" class="col-sm-2 col-form-label">State/Province/Region:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="state" placeholder="State/Province/Region">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="country" class="col-sm-2 col-form-label">Country:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="country" placeholder="Country">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="zipCode" class="col-sm-2 col-form-label">Zip Code:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="zipCode" placeholder="Zip Code">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary mb-2">Done</button>
                                </form>
                            </div>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>