<div class="banner">
    <p class="bannerText">Change Password</p>
</div>

{{#if errors}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{messages}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/if}}
<div class="container">
    <a href="/user/account_overview" class="text-color-2"><i class="fas fa-chevron-left"></i>Back</a>
    <form class="needs-validation" novalidate method="post" action="change_password">
        <div class="card-border-top">
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Current Password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="currentPassword" placeholder="Password" required>
                    <div class="invalid-feedback">
                        Current password is required.
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">New Password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="newPassword" placeholder="New Password"
                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                    <div class="invalid-feedback">
                        Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more
                        characters.
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Reenter New Password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="reenterNewPassword"
                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Reenter New Password" required>
                    <div class="invalid-feedback">
                        Reenter your new password. They must match.
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Done</button>
    </form>
</div>