<div class="bgImage1">
    <div class="row div-center" style="margin:0">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    {{#if errors}}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{messages}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {{/if}}
                    <div>
                        <h5 class="card-title text-center text-color-1">Sign In</h5>
                        <form class="form-signin" method="post" action="signin">
                            <div class="form-label-group">
                                <input type="text" id="email" name="email" class="form-control"
                                       placeholder="Email address or Username" required autofocus>
                                <label for="email" class="text-color-1">Email address or Username</label>
                            </div>

                            <div class="form-label-group">
                                <input type="password" id="password" name="password" class="form-control"
                                       placeholder="Password" required>
                                <label for="password" class="text-color-1">Password</label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                            <hr class="my-4">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>