
body {
    font-family: "Microsoft JhengHei UI Light", 'Source Sans Pro', sans-serif;
}

*, ::after, ::before {
    box-sizing: border-box;
}


h1, h2, h3, h4, h5 {
    color: #A6550F;
}

a {
    color: #00B7FF;
    font: inherit;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

input[type="number"]{
    border: 2px solid #e5e5e5;
    text-align: center;
}

textarea {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #e5e5e5;
    border-radius: 4px;
    resize: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
    padding: 0;
}

.checkbox-label {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    clear: both;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: #e5e5e5;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    border: 2px solid transparent;
}


.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #D5E8D2;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid transparent;
}


.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #009BFF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity:1;
    left: 8px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid #57BD4D;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
}

.card-border-top {
    padding: 20px;
    border: 3px solid transparent;
    border-image: url(../images/bg/line.png)
    2 /
    3px 0px 0px 0px
    round;
    -webkit-border-image: url(../images/bg/line.png)
    2 /
    3px 0px 0px 0px
    round;
    -o-border-image: url(../images/bg/line.png)
    2 /
    3px 0px 0px 0px
    round;
}

.card-border-top h2 {
    font-size: 20pt;
    padding-top: 20px;
    padding-bottom: 15px;
}

.text-color-1 {
    color: #A6550F;
    /*color: #A14B00;*/
}

.text-color-2 {
    color: #A6550F;
    /*color: #A14B00;*/
}

.font-size-1 {
    font-size: 18px;
}

.font-size-2 {
    font-size: 25px;
    color: #A14B00;
}

.img-100 {
    width: 100%;
}

.img-padding{
    padding: 10px;
}

.div-center{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.no-space {
    margin: 0;
    padding: 0;
}

.p-m-40{
    padding: 40px;
    margin: 40px;
}

.p-m-20{
    margin: 20px;
    padding: 20px;
}

.padding-top{
    padding: 40px;
}

.margin-top{
    margin: 40px;
}

.hover-link{
    color: #E41F00;
}

.no-button{
    border-style: none;
    background-color: transparent;
    color: #A6550F;
    font-size: 15px;
    box-sizing: content-box;
}

.no-button:hover{
    color: black;
}

.button-1 {
    background-color: #A6550F;
    color: white;
    border: 0px;
    padding: 5px 10px;

}

.button-1:hover{
    color:white;
    background-color: #BB461F;
}

.button-1:disabled{
    background-color: #e5e5e5;
 }

.btn-primary {
    background-color: #A14B03;
!important;
}

.btn-primary:hover{
    background-color: #BB461F;
}

.btn-primary:not(:disabled):not(.disabled):active{
    background-color: #911C00;
}

.btn-primary:not(:disabled):not(.disabled):active{
    background-color: #911C00;
}

.sort:not(:disabled):not(.disabled):active{
    background-color: #911C00;
}

.btn-order{
    background-color: #F5F3F4;
}

.btn-order:hover{
    background-color: #E0C9B6;
}


.bgColor1 {
    background-color: #F7F5F4;
    padding-bottom: 30px;
}

/*--------      Background Images      --------*/
.bgImage1 {
    height: calc(100vh);
    background-image: url("../images/bg/signin_bg.png");
    background-size: 100% 100%;
}

.bgImage2 {
    height: calc(100vh);
    background-image: url("../images/bg/home_banner.jpg");
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageTextContainer {
    border: 5px white solid;
    padding: 40px;
}

.imageText {
    color: white;
    font-size: 40px;
}

/*--------      Side Bar      --------*/
#sidebar {
    overflow-y: scroll;
    overflow-x: hidden;
    background: white;
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    transition: 0.5s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: lightgray;
    color: black;
}

#sidebar ul.components {
    white-space: nowrap;
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

/*------- Nav Bar--------*/
.navbar {
    z-index: 9999;
    position: fixed;
    white-space: nowrap;
    width: 100%;
    background-image: linear-gradient(to bottom, #b1A9A6, transparent);
    background-image: -o-linear-gradient(to bottom, #b1A9A6, transparent);
    background-image: -moz-linear-gradient(to bottom, #b1A9A6, transparent);
    background-image: -webkit-linear-gradient(to bottom, #b1A9A6, transparent);

}

.search-icon{
    width: 40px;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    -webkit-border-bottom-right-radius: 50%;
    -webkit-border-top-right-radius: 50%;
    background-color: transparent;
    border: 1px white solid;
    color: white;
}

.nav-item{
    padding: 0px 10px;
}

.nav-item a{
    font-size: 24px;
    font-weight: normal;
    font-family: inherit;
    color: white;
}

.nav-item .dropdown-menu a{
    font-size: 16px;
    color:black;
}

.dropdown-item:hover{
    background-color: #E0C9B6;
}
/*------- Sign in/sign up--------*/
:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

.card {
    background-color: transparent;
}

.card-signin {
    border: 0px;
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-body {
    border: 0px white solid;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-label-group > input,
.form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #A14B03;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

#main {
    transition: margin-left .5s;
}

.footer {
    padding: 2.5rem 0;
    color: #666;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.footer-element:hover{
    color: #E41F00;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}


/*------- Banners--------*/
.space-taker{
    height: 30px;
}
.banner {
    padding: 0 10%;
    background-color: #F7F5F4;
    height: 160px;
    display: flex;
}

.bannerText {
    color: #000000;
    font-size: 40px;
    display: inline-block;
    align-self: flex-end;
}

.bannerImage {
    height: calc(20vh);
    background-image: url("../images/bg/viewpage_banner.png");
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerTitle {
    color: #ffffff;
    display: inline-block;
    align-self: flex-end;
}

/*------- Item Overview Page--------*/
.item-card {
    background-color: white;
    border: 0;
    padding: 20px 10px;
}

.pagination a:hover,
.pagination .active a {
    border-bottom: 5px #A6550F solid;
    color: #A6550F;
}

.page-link {
    background-color: transparent;
    color: #A6550F;
    border: 0;
    border-bottom: 2px #A6550F solid;
}

.page-item:last-child .page-link,
.page-item:first-child .page-link {
    margin-left: 0;
    border-radius: 0;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #A6550F;
    border-radius: 0px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    border: none;
    background-image: none;
}

.carousel-control-next-icon:after
{
    content: '>';
    font-size: 40px;
    font-weight: bolder;
    color: #A6550F;
}

.carousel-control-prev-icon:after {
    font-weight: bolder;
    content: '<';
    font-size: 40px;
    color: #A6550F;
}

.carousel-control-prev{
    left: -100px;
}
.carousel-control-next{
    right: -100px;
}

.top-left{
    position: absolute;
    top:20px;
    right: 20px;
    text-align: left;
}

.unchecked{
    color: lightgray;
}

.checked {
    color: gold;
}

.error-message{
    text-align: center;
    padding: 40px;
}

.links:hover{
    color: #E41F00;
}

.about{
    padding-top: 15px;
}

.all_sellers{
    padding-top: 30px;
}

